.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.features__svg {
  height: 200px;
  width: 200px;
}

.features__item {
  text-align: center;
}

.features__description {
  margin: 0;
  font-size: var(--nns-features-body);
}

.features__title {
  font-size: var(--nns-features-title-fz);
}
